@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
    font-family: "Special Elite", cursive;
}

/* Header posision */


/* remove deafault ul margin and padding */
header ul {
  padding: 0px;
  margin-top: 0px;
}

/* header sticky */
header {
    position: sticky;
    top: 0;
}

/* li in line */
header li {
    display: inline;
}

/* Header color */
header {
    background-color: var(--color-secondary);
}

/* Header link colors and decor*/
header li a {
    background-color: var(--color-background);
    padding: 6px;
    border-radius: 30px;
}

header a {
    text-decoration: none;
    background-color: var(--color-background);
}

header a:link {
    color: var(--color-text);
    text-decoration: none;
}
header a:visited {
    color: var(--color-text);
    text-decoration: none;
}
header a:hover {
    color: var(--color-a-hover);
}
a:active {
    color: var(--color-text);
    text-decoration: underline;
}

/* Header logo */
.header-logo {
  margin: 10px;
    width: 100px;
    height: auto;
}
