/* Header posision */

/* remove deafault ul margin and padding */
header ul {
    padding: 0px;
    margin-top: 0px;
}

/* header sticky */
header {
    position: sticky;
    top: 0;
}

/* li in line */
header li {
    display: inline;
}

/* Header color */
header {
    background-color: var(--color-secondary);
}

/* Header link colors and decor*/
header li a {
    background-color: var(--color-background);
    padding: 20px;
    border-radius: 60px;
    margin-bottom: 20px;
}

header a {
  font-size: 40px;
    text-decoration: none;
    background-color: var(--color-background);
}

header a:link {
    color: var(--color-text);
    text-decoration: none;
}
header a:visited {
    color: var(--color-text);
    text-decoration: none;
}
header a:hover {
    color: var(--color-a-hover);
}
a:active {
    color: var(--color-text);
    text-decoration: underline;
}

/* Header logo */
.header-logo {
    margin: 40px;
    width: 300px;
    height: auto;
}
